.shop__category-sidebar
{
    height: 700px;
    width: 400px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: lightgrey;
    display: flex;
}

.shop__category-sidebar a
{
    text-decoration: none;
}

.shop__category-sidebar2
{
    height: 700px;
    width: 400px;
    margin-top: 580px;
    margin-left: 50px;
    background-color: lightgrey;
}