.image__text-1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;
    position: absolute;
    top: -130px;
    left: 20px;
    text-decoration: underline;
    z-index: 10;
}


