.image__text-1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;
    position: absolute;
    top: -130px;
    left: 65px;
    display: flex;
    justify-self: center;
    text-decoration: underline;
    z-index: 10;
    align-items: center;
}


