.shop__category-widebar
{
    background-color: lightgrey;
    width: 1000px;
    height: 100px;
    margin-left: 470px;
    margin-top: -660px;
    display: flex;
    position: relative;
}

.widebar__title
{
    position: absolute;
    margin-top: -45px;
    font-size: 30px;
    font-weight: normal;
}